.food_counter{
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid black;
}
.add-btn{
    padding: 10px 35px;
    background: crimson;
    color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
}
.food-description{
    width: 462px;
}