.bg_header{
    background-image: url("../../Image/bannerbackground.png");
    height: 500px;
    background-position: center;
    background-size: auto;
}

.bg_header h1{
    font-size: 50px;
}

.bg_header form{
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 15px;
}
.bg_header form input{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    width: 83%;
}
.bg_header form button{
    padding: 10px 30px;
    border-radius: 20px;
    margin-left: -25px;
    border: none;
    background-color: crimson;
    color: white;
}
input{
    outline: none;
}
button:focus{
    outline: 0;
}